/* Gradient Animated Text */
.animated-text {
    background-size: 200% auto;
    animation: gradientMove 3s ease infinite alternate;
  }
  
  /* Smooth Gradient Animation */
  @keyframes gradientMove {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  